


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.WebsiteDescription {
  color: #5a8ee8;
  text-align: left;
  margin-right: 30px;
  font-family: 'Press Start 2P', sans-serif;
}

.ActivitiesFor {
  color: #ffffff;
  text-align:center;
  margin-top: -125px;
  font-family: 'Press Start 2P', sans-serif;
}

.CalendarComponent {
  display: flex;
  justify-content: center;
}

.AddingActivities {
  display: flex;
  justify-content: center;
  margin: 0 auto 20px;
  width: 200px;
  height: 50px;
  color: #000000;
  background-color: #ffffff;
}

.AddingActivitiesButton {
  display: flex;
  justify-content: center;
  margin: 0 auto 20px;
  width: 125px;
  height: 30px;
  text-align: center;
  background-color: #f7f7f7;
  color: rgb(5, 51, 92); 
}

.placeholder {
  color:#000000;
}

.CalendarComponentSize {
  width: 800px; 
  height: 350px;
  color:#3564e3; 
}

:root {
  background-color: #a8ccfc; /* Set the background color to #F0F0F0 */
}

.WebsiteLogo {
  display: inline-block;
  width: 350px;
  height: 350px;
  margin-right: 10px;
}

.LogoAndDescription {
  display: flex;
  align-items: center;
}